﻿@model IPagedList<Riddle.Models.Riddle>
@using Riddle.Views.Manage.Resources

@{
    ViewBag.Title = "Riddles";
}

<h2>@Resources.Riddles_MyRiddles</h2>

<p>
    @Html.ActionLink(Resources.Riddles_CreateNew, "Create", "Riddles")
</p>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>@Resources.Riddles_RiddleName</th>
            <th>@Resources.Riddles_Description</th>
            <th>@Resources.Riddles_DateCreated</th>
        </tr>
    </thead>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>
        <td>
            @Html.ActionLink(Resources.Riddles_Edit, "Edit", "Riddles", new { id = item.Id }, null)
        </td>
    </tr>
}

</table>

<div class="pagedList" data-riddle-target="#riddleList">
    @Html.PagedListPager(Model, page => Url.Action("Riddles", new { page }), PagedListRenderOptions.Classic)
</div>
