﻿@* BBCode yerleştirmek için butonlar başlangıç *@

<button type="button" class="btn btn-default BBbutton" data-riddle-bbtag="b">b</button>
<button type="button" class="btn btn-default BBbutton" data-riddle-bbtag="i">i</button>
<button type="button" class="btn btn-default BBbutton" data-riddle-bbtag="u">u</button>
<button type="button" class="btn btn-default BBbutton" data-riddle-bbtag="quote">quote</button>
<button type="button" class="btn btn-default BBbutton" data-riddle-bbtag="link">link</button>
<button type="button" class="btn btn-default BBbutton" data-riddle-bbtag="image">image</button>
<button type="button" class="btn btn-default BBbutton" data-riddle-bbtag="simage">simage</button>
<button type="button" class="btn btn-default BBbutton" data-riddle-bbtag="code">code</button>
<button type="button" class="btn btn-default BBbutton" data-riddle-bbtag="center">center</button>

@* BBCode yerleştirmek için butonlar son *@
<br />
<br />