﻿@model Riddle.Models.App.ViewModels.NavbarViewModel
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink(Riddle.Views.Home.Resources.Resources.Home, "Index", "Home")</li>
        <li>@Html.ActionLink(Riddle.Views.Home.Resources.Resources.NavbarContact, "Contact", "Home")</li>
        <li>@Html.ActionLink(Riddle.Views.Home.Resources.Resources.Riddles, "Index", "Riddles")</li>            
        <li>
            <a href="@Url.Action("Index", "PrivateMessage")">
                <span class="glyphicon glyphicon-envelope"></span> @Riddle.Views.Home.Resources.Resources.Messages
                @if (Model.NumberOfUnreadMessages != 0)
                {
                    <span class="badge" style="background-color: #f45f42;"> @Model.NumberOfUnreadMessages</span>
                }
            </a>
        </li>
    </ul>

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">

            @if (User.Identity.IsAdminUser())
                    {
                <li><a href="@Url.Action("Index", "Admin")">@Riddle.Views.Home.Resources.Resources._NavbarPartial_AdminPanel</a></li>
            }
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-globe"></span></a>
                <ul class="dropdown-menu">


                    <li><a href="@Url.Action("ChangeLanguage", "Home", new { lang = "en" , returnUrl = HttpContext.Current.Request.Url.AbsolutePath})">EN</a></li>
                    <li><a href="@Url.Action("ChangeLanguage", "Home", new { lang = "tr" , returnUrl = HttpContext.Current.Request.Url.AbsolutePath})">TR</a></li>
                </ul>
            </li>
            <li>
                @Html.ActionLink(Riddle.Views.Home.Resources.Resources.Hello + ' ' + User.Identity.GetUserName() + "!", "Profile", "User", routeValues: new { id = User.Identity.GetUserId() }, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">@Riddle.Views.Home.Resources.Resources.LogOut</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink(Riddle.Views.Home.Resources.Resources.Home, "Index", "Home")</li>
        <li>@Html.ActionLink(Riddle.Views.Home.Resources.Resources.NavbarContact, "Contact", "Home")</li>
        <li>@Html.ActionLink(Riddle.Views.Home.Resources.Resources.Riddles, "Index", "Riddles")</li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-globe"></span></a>
            <ul class="dropdown-menu">
                <li><a href="@Url.Action("ChangeLanguage", "Home", new { lang = "en", returnUrl = HttpContext.Current.Request.Url.AbsolutePath })">EN</a></li>
                <li><a href="@Url.Action("ChangeLanguage", "Home", new { lang = "tr" , returnUrl = HttpContext.Current.Request.Url.AbsolutePath})">TR</a></li>
            </ul>
        </li>
        <li>@Html.ActionLink(Riddle.Views.Home.Resources.Resources.SignUp, "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink(Riddle.Views.Home.Resources.Resources.Login, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
