﻿@model Riddle.Models.App.ViewModels.AddQuestionViewModel
@using Riddle.Views.Question.Resources
@{
    ViewBag.Title = "Add";
}

<h2>@Resources.Add_AddNewQuestion</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="row">
            <div class="col-xs-12">
                @Html.Partial("_BBCodeButtons")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Body, new { @class = "control-label" })
            @Html.EditorFor(m => m.Body, new { htmlAttributes = new { @class = "form-control", rows = 15, id = "questionBody" } })
            @Html.ValidationMessageFor(m => m.Body, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Answer, new { @class = "control-label" })
            <div class="row">
                <div class="col-md-2">
                    @Html.EditorFor(m => m.Answer, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="col-md-10">
                    @Html.ValidationMessageFor(m => m.Answer, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <input type="submit" value="@Resources.Add_Add" class="btn btn-success" />
        <input type="hidden" name="Id" value="@ViewBag.RiddleId" />
        
           
                
            
        
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/App/BBCodeHelper.js")
}
