﻿@model IPagedList<Riddle.Models.App.ViewModels.UsersSolvedViewModel>
@using Riddle.Views.Question.Resources
@{
    ViewBag.Title = "UsersSolved";
}

<h2>@Resources.UsersSolved_UsersWhoSolvedThisQuestion </h2>

<div id="riddleList">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>@Resources.UsersSolved_UserName</th>
            </tr>
        </thead>
        <tbody>
            @{ int i = 1;
                foreach (var r in Model)
                {
                    <tr>
                        <td>@i. @r.UserName</td>
                        @{i++;}                        
                    </tr>
                }
            }

        </tbody>
    </table>


    <div class="pagedList" data-riddle-target="#riddleList">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.Classic)
    </div>
</div>

