﻿.ui-autocomplete {
    position: absolute;
    cursor: default;
    z-index: 4000 !important;
}

img#loadingForThreads ,img#loadingForMessages{
   display: none;
   position: relative;
   top: 200px;
   left: 50%;
   width: 50px;
   height: 50px;
   margin-top: -25px; /* Half the height */
   margin-left: -25px; /* Half the width */
}

ul.list-group, #messageBody, #messageThreads .panel,form textarea{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button[data-hasUnreadMessages='true'] {
    background-color: #f7f3af !important;
   
}



