﻿@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,900);
@import url(http://fonts.googleapis.com/css?family=Lato:400,900);


#riddleList a {
    display: block;
}

tbody#topRiddles a, tbody#topUsers a{
    color: #384452;
	 display: block;
}


/*##############################
         STICKY FOOTER        */
html {
  position: relative;
  min-height: 100%;
  
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}

.simage{
    width: 108px;
    height: 72px;
}

/*##############################*/


/*	################################################################
	1. GENERAL STRUCTURES
################################################################# */
* {
    margin: 0;
    padding: 0px;
}



body {
    background: #ffffff;
    background-image: url("images/subtle_grunge.png");
    margin: 0 0 60px; 
    height: 100%;
    color: #384452;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    overflow-y: scroll; /*This is about page shaking issiu, this has nothing to do with sticky footer.*/
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

p {
    padding: 0;
    font-family: 'Lato', sans-serif;
    color: #384452;
}

img {
    height: auto;
    max-width: 100%;
}

a {
    padding: 0;
    margin: 0;
    text-decoration: none;
    -webkit-transition: background-color .4s linear, color .4s linear;
    -moz-transition: background-color .4s linear, color .4s linear;
    -o-transition: background-color .4s linear, color .4s linear;
    -ms-transition: background-color .4s linear, color .4s linear;
    transition: background-color .4s linear, color .4s linear;
}

    a:hover,
    a:focus {
        text-decoration: none;
        color: #01b2fe;
    }

::-moz-selection {
    color: #fff;
    text-shadow: none;
    background: #2B2E31;
}

::selection {
    color: #fff;
    text-shadow: none;
    background: #2B2E31;
}

.centered {
    text-align: center;
}

/*	################################################################
	BOOTSTRAP MODIFICATIONS & TWEAKS
################################################################# */
.navbar {
    min-height: 70px;
    padding-top: 10px;
    margin-bottom: 0px;
    font-family: 'Lato', sans-serif;
}

.navbar-brand {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
}

.navbar-header .navbar-brand {
    color: white;
}

.navbar-default .navbar-nav > li > a {
    color: white;
    font-weight: 700;
    font-size: 12px;
}

    .navbar-default .navbar-nav > li > a:hover {
        color: #00b3fe;
    }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #00b3fe;
    background-color: transparent;
}

.navbar-default {
    background-color: #384452;
    border-color: transparent;
}

.dropdown-menu {
    background: #384452;
}

    .dropdown-menu > li > a {
        color: white;
        font-weight: 700;
        font-size: 12px;
    }

.btn-theme {
    color: #fff;
    background-color: #384452;
    border-color: #384452;
    margin: 4px;
}

    .btn-theme:hover,
    .btn-theme:focus,
    .btn-theme:active,
    .btn-theme.active,
    .open .dropdown-toggle.btn-theme {
        color: #fff;
        background-color: #00b3fe;
        border-color: #00b3fe;
    }

.dmbutton:hover,
.dmbutton:active,
.dmbutton:focus {
    color: #ffffff;
    background-color: #222222;
    border-color: #ffffff;
}

.dmbutton {
    background: rgba(0, 0, 0, 0);
    border: 1px solid #ffffff;
    color: #ffffff;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    padding-top: 1.025rem;
    padding-right: 2.25rem;
    letter-spacing: 0.85px;
    padding-bottom: 1.0875rem;
    padding-left: 2.25rem;
    font-size: 1.55rem;
    cursor: pointer;
    font-weight: normal;
    line-height: normal;
    margin: 0 0 1.25rem;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    -webkit-transition: background-color 300ms ease-out;
    -moz-transition: background-color 300ms ease-out;
    transition: background-color 300ms ease-out;
    -webkit-appearance: none;
    font-weight: normal !important;
}

.mtb {
    margin-top: 80px;
    margin-bottom: 80px;
}

.mb {
    margin-bottom: 60px;
}

.mt {
    margin-top: 60px;
}

.hline {
    border-bottom: 2px solid #384452;
}

.hline-w {
    border-bottom: 2px solid #ffffff;
    margin-bottom: 25px;
}






