﻿@using Riddle.Views.Riddles.Resources
<br />
@if (!ViewBag.IsCorrect)
{
<div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <p>@Resources.WrongAnswer</p>
</div>
}
else
{
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <p>@Resources.RightAnswer <span class="glyphicon glyphicon-ok"></span> <a href="@Url.Action("Riddle", new { id = ViewBag.RiddleId })">@Resources.ClickHereForNextQuestion</a></p>
    </div>
}

