﻿@model Riddle.Models.App.ViewModels.QuestionViewModel


<div id="rating">
    <span id="loading" style="display:none;">
        <img src="~/Content/images/ring.gif" />
    </span>
    <form method="post" action="@Url.Action("NewRating", "Ratings", new { riddleId = Model.Question.RiddleId })" data-riddle-ajax="rating" data-riddle-target="#rating">
        <span class="rating">
            <input type="radio" class="rating-input"
                   id="rating-input-1-5" name="rating" value="5" />
            <label for="rating-input-1-5" class="rating-star"></label>
            <input type="radio" class="rating-input"
                   id="rating-input-1-4" name="rating" value="4" />
            <label for="rating-input-1-4" class="rating-star"></label>
            <input type="radio" class="rating-input" value="3"
                   id="rating-input-1-3" name="rating" />
            <label for="rating-input-1-3" class="rating-star"></label>
            <input type="radio" class="rating-input" value="2"
                   id="rating-input-1-2" name="rating" />
            <label for="rating-input-1-2" class="rating-star"></label>
            <input type="radio" class="rating-input" value="1"
                   id="rating-input-1-1" name="rating" />
            <label for="rating-input-1-1" class="rating-star"></label>
        </span>
        <button type="submit" class="btn btn-success btn-xs" id="oyla">@Riddle.Views.Riddles.Resources.Resources.Rate</button>
    </form>
</div>
