﻿@model IPagedList<Riddle.Models.Riddle>
@using Riddle.Views.Riddles.Resources

@{
    ViewBag.Title = "_Riddles";
}




<div id="riddleList">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>@Resources.RiddleName</th>
                <th>@Resources.CreatedBy</th>
                <th>@Resources.DateCreated</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var r in Model)
            {
                <tr>
                    <td>@Html.ActionLink(r.Name, "Riddle", "Riddles", new { Id = r.Id }, null)</td>
                    <td><a href="@Url.Action("Profile", "User", new { Id = r.User.Id })" >@r.User.UserName</a></td>
                    <td>@r.DateCreated</td>
                </tr>
            }
        </tbody>
    </table>


    <div class="pagedList" data-riddle-target="#riddleList">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.Classic)
    </div>
</div>



