﻿@model IPagedList<Riddle.Models.App.ViewModels.QuestionViewModel>
@using Riddle.Other
@using Riddle.Views.Riddles.Resources

<div id="riddle">
    <br />
    <div class="row">
        <div class="col-xs-12 col-md-8">
           
                <h2>@Resources.YouCreatedThisRiddle</h2>
                <h3>@Resources.Question</h3>
                <p>@Html.Raw(CustomizedBBCodeParser.ToHtml(Model.First().Question.Body))</p>
           
            <div class="row">
                <div class="col-xs-12 col-md-4">
                    <h3>@Resources.Answer: </h3>
                    <p>@Model.First().Question.Answer</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            @Html.Partial("_UsersSolved", Model.First())
        </div>
    </div>
    
    <div class="pagedList" data-riddle-target="#riddle">
        @Html.PagedListPager(Model, page => Url.Action("Riddle", new { id = @Model.First().Question.RiddleId, page }),
                                                       PagedListRenderOptions.PageNumbersOnly)
    </div>

</div>





