﻿@model Riddle.Models.App.ViewModels.QuestionViewModel
@using Riddle.Views.Riddles.Resources


    <div class="panel panel-success">
        <div class="panel-heading">
            @Resources.UsersWhoSolvedThisQuestion
        </div>
        <div class="panel-body">
            <table class="table table-striped table-hover">
                <thead>
                    <tr><th>@Resources.UserName</th></tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.SolvedUserNames)
                    {
                        <tr>
                            <td>@item</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="panel-footer">
            <a href="@Url.Action("UsersSolved", "Question", new { Id = Model.Question.Id })">@Resources.ClickHereToSeeFullList</a>
        </div>
    </div>


