﻿@model IPagedList<Riddle.Models.App.ViewModels.EditViewModel>
@using Riddle.Views.Riddles.Resources

@{
    ViewBag.Title = "EditRiddle";
}

<h2>@Resources.Edit_EditRiddle</h2>


@Html.ActionLink(Resources.Edit_AddNewQuestion, "Add", "Question", new { Id = Model.First().RiddleId }, new { @class = "btn btn-primary" })


@using (Html.BeginForm("Edit", "Riddles", new { Id = Model.First().RiddleId }, FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form">

        <hr />
        <div class="row">
            <div class="col-xs-12">
                @Html.Partial("_BBCodeButtons")
            </div>
        </div>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.First().Body, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.First().Body, new { htmlAttributes = new { @class = "form-control", rows = 15, id = "questionBody" } })
            @Html.ValidationMessageFor(model => model.First().Body, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.First().Answer, htmlAttributes: new { @class = "control-label" })
            <div class="row">
                <div class="col-md-2">
                    @Html.EditorFor(model => model.First().Answer, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.First().Answer, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        @Html.HiddenFor(m => m.First().QuestionId)
        @Html.HiddenFor(m => m.First().RiddleId)



        <input type="submit" value="@Resources.Edit_Save" class="btn btn-success" />
            

    </div>
}

<div class="pagedList" data-riddle-target="#riddle">
    @Html.PagedListPager(Model, page => Url.Action("Edit", new { id = Model.First().RiddleId, page }),
                                                       PagedListRenderOptions.PageNumbersOnly)
</div>



<div>
    @Html.ActionLink(Resources.Edit_BackToList, "Index")
</div>

@section scripts{

    @Scripts.Render("~/Scripts/App/BBCodeHelper.js");
}
