﻿@model IPagedList<Riddle.Models.Riddle>
@using Riddle.Views.Riddles.Resources



@{
    ViewBag.Title = "Son eklenen Riddle'lar";
}

<h1>@Resources.Riddles</h1>

<form class="form-inline" method="get" action="@Url.Action("Index")" data-riddle-ajax="true" data-riddle-target="#riddleList">
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="input-group">
                <input type="text" name="searchTerm" class="form-control" placeholder="@Resources.RiddleName" data-riddle-autocomplete="@Url.Action("Autocomplete")" />
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span> @Resources.Search</button>
                </span>
            </div>
        </div>
    </div>
    <br />
</form>





@Html.ActionLink(Resources.CreateNew, "Create", "Riddles", null, new { @class = "btn btn-primary" })

@Html.Partial("_Riddles", Model)





@section scripts {
    @Scripts.Render("~/Scripts/App/Riddle.js")
    @Scripts.Render("~/Scripts/jquery-ui-1.12.1.min.js")
}




