﻿@model Riddle.Models.App.ViewModels.QuestionViewModel
@using Riddle.Other
@using Riddle.Views.Riddles.Resources
@{
    ViewBag.Title = "Question";
}



<br />
@if (!Model.IsAlreadyRated)
{
    @Html.Partial("_RatingStars", Model)

    @section rating {
        @Scripts.Render("~/Scripts/App/Ratings.js")
        @Styles.Render("~/Content/App/Rating.css")

    }
}



@using (Html.BeginForm("Riddle", "Riddles", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Question.RiddleId)
    <input type="hidden" name="questionNumber" value="@(Model.Question.QuestionNumber)" />
    <div class="row">
        <div class="col-xs-12 col-md-8">
            <h3>@Resources.Question</h3>
            <p>@Html.Raw(CustomizedBBCodeParser.ToHtml(Model.Question.Body))</p>
            <div class="form-group">
                <div class="col-xs-12 col-md-4">
                    @Html.LabelFor(m => m.Question.Answer, new { @class = "control-label" })
                    <input type="text" name="Answer" class="form-control" required maxlength="200" />
                    <br />
                    <button type="submit" id="sendAnswer" data-riddle-target="#answerResult" class="btn btn-primary">@Resources.Send</button>
                </div>
                <div class="col-xs-12 col-md-4" id="answerResult">

                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            @Html.Partial("_UsersSolved", Model)
        </div>
    </div>

}

@section styles{
    @Styles.Render("~/Content/App/Riddle/Styles.css")
}
@section scripts{
    @Scripts.Render("~/Scripts/App/Riddles/Riddle.js");
}


















