﻿@model IPagedList<Riddle.Models.App.ViewModels.QuestionViewModel>

@{
    ViewBag.Title = "Riddle Owner";
}
<div id="riddle">
    @Html.Partial("_RiddleOwner", Model)

</div>



@section scripts {

    @Scripts.Render("~/Scripts/App/RiddleOwner.js")
}
@section styles{
    @Styles.Render("~/Content/App/Riddle/Styles.css")
}