﻿@model IPagedList<Riddle.Models.App.ViewModels.QuestionViewModel>
@using Riddle.Other
@using Riddle.Views.Riddles.Resources
@{
    ViewBag.Title = "SolvedRiddle";
}


<br />
@if (!Model.First().IsAlreadyRated)
{
    @Html.Partial("_RatingStars", Model.First())

    @section scripts {
        @Scripts.Render("~/Scripts/App/Ratings.js")
    }

    @section rating{
        @Styles.Render("~/Content/App/Rating.css")
    }
}

   


<div id="riddle">
    <div class="row">
        <div class="col-xs-12 col-md-8">
          
                <h3>@Resources.YouCompletedThisRiddle</h3>
                <h2>@Resources.Question</h2>
                <p>@Html.Raw(CustomizedBBCodeParser.ToHtml(Model.First().Question.Body))</p>
          
            <div class="row">
                <div class="col-xs-12 col-md-4">
                    <h3>@Resources.Answer</h3>
                    <p>@Model.First().Question.Answer</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            @Html.Partial("_UsersSolved", Model.First())
        </div>
    </div>

    <div class="pagedList" data-riddle-target="#riddle">
        @Html.PagedListPager(Model, page => Url.Action("Riddle", new { id = @Model.First().Question.RiddleId, page }),
                                                       PagedListRenderOptions.PageNumbersOnly)
    </div>

</div>

@section styles{
    @Styles.Render("~/Content/App/Riddle/Styles.css")
}

