﻿@model IPagedList<Riddle.Models.Riddle>
@using Riddle.Views.Admin.Resources

@{
    ViewBag.Title = "_Riddles";
}




<div id="riddleList">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>@Riddle.Views.Riddles.Resources.Resources.RiddleName</th>
                <th>@Riddle.Views.Riddles.Resources.Resources.CreatedBy</th>
                <th>@Riddle.Views.Riddles.Resources.Resources.DateCreated</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var r in Model)
            {
                <tr>
                    <td>@Html.ActionLink(r.Name, "Riddle", "Riddles", new { Id = r.Id }, null)</td>
                    <td>@r.User.UserName</td>
                    <td>@r.DateCreated</td>
                    <td>@Html.ActionLink(Resources.EditRiddle_Edit, "EditRiddle", new { Id = r.Id }, new { @class = "btn btn-primary" })</td>
                    @*<td>@Html.ActionLink("Delete", "DeleteRiddle", new { Id = r.Id })</td>*@
                    @* Modal to send a new message *@

                    <!-- Button trigger modal -->
                    <td>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">
                            @Resources.EditRiddles_Delete
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">@Resources.EditRiddles_Delete</h4>
                                    </div>
                                    <div class="modal-body">
                                        @Resources.EditRiddles_AreYouSureYouWantToDelete
                                    </div>
                                    <div class="modal-footer">
                                        <form action="@Url.Action("DeleteRiddle", new { Id = r.Id })" method="post">
                                            <button type="submit" class="btn btn-primary">@Resources.EditRiddles_Yes</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">@Resources.EditRiddles_No</button>      
                                        </form>
                                                                         
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>


    <div class="pagedList" data-riddle-target="#riddleList">
        @Html.PagedListPager(Model, page => Url.Action("EditRiddles", new { page }), PagedListRenderOptions.Classic)
    </div>
</div>




