﻿@using Riddle.Views.Admin.Resources
<h2 class="text-center">@Resources.Index_AdminPanel</h2>

<div class="row text-center">
    <div class="col-sm-offset-4 col-sm-4 col-sm-offset-4">
        <div class="panel panel-default">
            <div class="panel-heading">@Resources.Index_Management</div>

            <ul class="list-group">
                <li class="list-group-item">@Html.ActionLink(Resources.Index_ManageRiddles, "EditRiddles", null, new { style = "display: block;" })</li>
            </ul>
        </div>
    </div>
</div>