﻿@{
    ViewBag.Title = "Confirm Email";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        E-mail adresinizi onayladığınız için teşekkürler. Lütfen @Html.ActionLink("buraya tıklayarak giriş yapın.", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
