﻿@model Riddle.Models.App.ViewModels.HomeViewModel
@using Riddle.Views.Home.Resources

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Riddle</h1>
    <p class="lead">@Resources.Description.</p>
</div>


<div class="row">

    <div class="col-xs-12 col-sm-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h2 class="panel-title">@Resources.TopUsers</h2>
            </div>
            <div class="panel-body">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr><th>@Resources.UserName</th></tr>
                    </thead>
                    <tbody id="topUsers">
                        @{
                            int i = 1;
                            foreach (var user in Model.Users)
                            {
                                <tr>
                                    <td><a href="@Url.Action("Profile", "User", new { id = user.Id })">@i. @user.UserName</a></td>
                                </tr>
                                i++;
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>



    <div class="col-xs-12 col-sm-offset-4 col-sm-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h2 class="panel-title">@Resources.TopRiddles</h2>
            </div>
            <div class="panel-body">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr><th>@Resources.RiddleName</th></tr>
                    </thead>
                    <tbody id="topRiddles">
                        @{ int j = 1;
                            foreach (var riddle in Model.Riddles)
                            {

                                <tr>
                                    <td><a href="@Url.Action("Riddle", "Riddles",new { id = riddle.RiddleId })"><span class="riddleName">@j. @riddle.RiddleName - </span> @Resources.AverageRating: @riddle.AverageRating <small>(@riddle.VoteCount @Resources.Vote)</small></a> </td>
                                </tr>
                                j++;
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section styles{
    @Styles.Render("~/Content/App/Home/Index/Styles.css")
}
