﻿@model Riddle.Models.App.ViewModels.RatingViewModel





<div class="row">
    <div class="col-xs-12 col-md-6">
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <p>Oyunuz başarıyla kaydedildi.</p>
            <p>Bu bilmecenin ortalama puanı: @Model.Average (@Model.Count oy verildi.)</p>
        </div>
    </div>
</div>