﻿@model Riddle.Models.App.ViewModels.UserProfileViewModel
@using Riddle.Views.User.Resources


@{
    ViewBag.Title = "Index";
}


<div class="row">
    <div class="col-md-4">
        <h2>@Model.ShownUserName</h2>
        <div class="well">
            <b>@Resources.NumberOfQuestionsSolved: </b> @Model.NumberOfQuestionsSolved<br /><br />
            <b>@Resources.JoinDate: </b> @Model.RegistrationDate <br /><br />
            @if (Model.ShownUserId == Model.CurrentUserId)
            {
                <a href="@Url.Action("Index", "Manage")">@Resources.AccountSettings</a>
            }
            else
            {
                <button type="button" class="btn btn-sm btn-success" data-toggle="modal" data-target="#myModal">
                    <span class="glyphicon glyphicon-envelope"></span> @Resources.SendNewMessage
                </button>
                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">@Riddle.Views.PrivateMessage.Resources.Resources.NewMessage</h4>
                            </div>
                            <div class="modal-body">

                                <form id="newMessageForm" action="@Url.Action("NewMessageThread","PrivateMessage")" method="get" data-riddle-ajax-target="#messageThreads">
                                    @*Model Form*@
                                    <div class="form-group">
                                        <label for="Receiver">@Riddle.Views.PrivateMessage.Resources.Resources.Receiver</label>
                                        <input type="text" class="form-control col-sm-6" name="Receiver" value="@Model.ShownUserName" id="Receiver" data-riddle-autocomplete="@Url.Action("AutocompleteUser","User")" />

                                    </div>
                                    <div class="form-group">
                                        <label for="Title">@Riddle.Views.PrivateMessage.Resources.Resources.Title</label>
                                        <input type="text" class="form-control" name="Title" id="Title" />
                                    </div>
                                    @Html.Partial("_BBCodeButtons")
                                    <div class="form-group">
                                        <label for="MessageBody" class="sr-only">Your message</label>
                                        <textarea rows="10" placeholder="Mesaj" class="form-control" id="MessageBody" , name="MessageBody"></textarea>
                                    </div>

                                </form> @*Model Form end*@
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">@Riddle.Views.PrivateMessage.Resources.Resources.Close</button>
                                <button type="button" id="sendButton" class="btn btn-primary" data-formToSend="#newMessageForm">@Riddle.Views.PrivateMessage.Resources.Resources.Send</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/Scripts/App/User/Profile.js")
}

