﻿@model IPagedList<Riddle.Models.App.ViewModels.MessageThreadsViewModel>
@using Riddle.Views.PrivateMessage.Resources
@{
    ViewBag.Title = "Index";
}


<div id="messageThreads">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading text-center">@Resources.Messages</div>
        <div class="list-group">
            @foreach (var thread in Model)
            {
                    if (thread.NumberOfUnreadMessages != 0)
                    {
                        @Html.Partial("_ThreadButtonWithUnreadMessages", thread)
                    }
                    else
                    {
                        @Html.Partial("_ThreadButton", thread)
                    }
            }
            <div class="pagedListPager text-center" data-riddle-ajax-target="#messageThreads">
                  
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }),PagedListRenderOptions.Classic)
                
            </div>
        </div>
    </div>
</div>










