﻿@model PagedList<Riddle.Models.App.ViewModels.MessageThreadMessagesViewModel>
@using CodeKicker.BBCode
@using Riddle.Other

@using Riddle.Views.PrivateMessage.Resources

<div id="messageThreadMessages">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><h4><a href="@Url.Action("Profile", "User", new { id = ViewBag.ReceiverId })">@ViewBag.ReceiverName</h4></a></div>
        
            <ul class="list-group">
                @foreach (var message in Model)
                {
                    <li class="list-group-item"><a href="@Url.Action("Profile","User", new { Id = message.SenderId } )"><b>@message.SenderName </b></a> @message.DateCreated <br /><br /> @Html.Raw(CustomizedBBCodeParser.ToHtml(message.MessageBody))</li>
                }
                <li class="list-group-item .pagedListPager" id="messagesPager" data-riddle-ajax-target="#messageThreadMessages">
                    @{
                        var renderOptions = PagedListRenderOptions.PageNumbersOnly;
                        renderOptions.UlElementClasses = new[] { "pagination", "pagination-sm" };
                        int MessageThreadId = ViewBag.MessageThreadId;

                    }
                    @Html.PagedListPager(Model, page => Url.Action("MessageThreadMessages", new { MessageThreadId, page }), renderOptions)
                </li>
            </ul>
    </div>
    <form id="newMessageForm" method="post" action="@Url.Action("NewPrivateMessage", "PrivateMessage", new {Model.First().ReceiverName, Model.First().SenderName, ViewBag.MessageThreadId})" data-riddle-ajax-target="#messageThreadMessages">
        @Html.AntiForgeryToken()
        @Html.Partial("_BBCodeButtons")
        <div class="form-group">
            <label for="MessageBody" class="sr-only">Your message</label>
            <textarea rows="10" placeholder="@Resources.Message" class="form-control" name="MessageBody" id="MessageBody"></textarea>
        </div>
        <button type="submit" class="btn btn-success">@Resources.Send</button>
    </form>
</div>

