﻿@model Riddle.Models.App.ViewModels.MessageThreadsViewModel
@{
    ViewBag.Title = "Index";
}


    <button type="button" class="list-group-item list-group-message-thread-item" data-hasUnreadMessages="true" data-riddle-ajax="true" data-riddle-ajax-action="@Url.Action("MessageThreadMessages", "PrivateMessage"
            , new { MessageThreadId = Model.ThreadId })" data-riddle-ajax-target="#messageThreadMessages" data-riddle-ajax-method="get">
        <b>@Model.Title</b>
        <span class="badge unreadMessage">@Model.NumberOfUnreadMessages</span>
        <br /><br />
        <span style="color: #4286f4;">@Model.LastSenderName </span> <span style="color:lightgray">@Model.LastMessageBody</span>
        <br />
    </button>

