﻿@model IPagedList<Riddle.Models.App.ViewModels.MessageThreadsViewModel>
@using Riddle.Views.PrivateMessage.Resources

<br />
@* Modal to send a new message *@
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
    <span class="glyphicon glyphicon-plus"></span> @Resources.NewMessage
</button>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">@Resources.NewMessage</h4>
            </div>
            <div class="modal-body">
                <form id="newMessageForm" action="@Url.Action("NewMessageThread")" method="post" data-riddle-ajax-target="#messageThreads">
                    @Html.AntiForgeryToken()
                    @*Model Form*@
                    <div class="form-group">
                        <label for="Receiver">@Resources.Receiver</label>
                        <input type="text" class="form-control col-sm-6" name="Receiver" id="Receiver" data-riddle-autocomplete="@Url.Action("AutocompleteUser","User")" />
                    </div>
                    <div class="form-group">
                        <label for="Title">@Resources.Title</label>
                        <input type="text" class="form-control" name="Title" id="Title" />
                    </div>
                    @Html.Partial("_BBCodeButtons")
                    <div class="form-group">
                        <label for="MessageBody" class="sr-only">Your message</label>
                        <textarea rows="10" placeholder="Mesaj" class="form-control" id="MessageBody" , name="MessageBody"></textarea>
                    </div>
                </form> @*Model Form end*@
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@Resources.Close</button>
                <button type="button" class="btn btn-primary" data-riddle-ajax="true" data-riddle-ajax-form="#newMessageForm">@Resources.Send</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        <img id="loadingForThreads" src="~/Content/images/ring.gif" />
        @Html.Partial("_MessageThreads", Model)
    </div>
    <div class="col-sm-8">
        <img id="loadingForMessages" src="~/Content/images/ring.gif" />

        <div id="messageThreadMessages">
            @*This part will be rendered by using ajax*@
        </div>

    </div>
</div>


@section scripts{
    @Scripts.Render("~/Scripts/jquery-ui-1.12.1.js")
    @Scripts.Render("~/Scripts/App/PrivateMessage/Index/Index.js")
    @Scripts.Render("~/bundles/jqueryval")
}
@section styles{
    @Styles.Render("~/Content/App/PrivateMessage/Index/Styles.css")
}
